<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.zhiran2021.snamall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snamall"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".feature.profile.auoth.rules.RulesActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.auoth.privacy.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.auoth.VerifyLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.category.generalcat.ProductGeneralActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.category.subcat1.SubCat1Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.allamazingmarket.AllAmazingMarketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.orderdelivery.orderdeliverydetail.OrderDeliveryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.orderdelivery.OrderDeliveryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.category.subcat2.SubCat2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.generalcat.GeneralCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.moredialog.compare.ProductCompareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.moredialog.compare.CompareProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.allamazing.AllAmazingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.chargewallet.ChargeWalletActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.infouser.InfoUserActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wallet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.profile.favorite.FavoriteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.order.orderdetail.OrderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.order.OrderActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="snamall" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.profile.address.AddAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.address.AddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.cart.nextlevel.NextLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.category.brandproduct.BrandActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.comment.insertcomment.InsertCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.comment.ShowCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.auoth.VerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.auoth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.auth" />
        <activity
            android:name=".feature.profile.auoth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.auth" />
        <activity
            android:name=".feature.home.detailproduct.property.DescriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.property.TechnicalPropertyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.moredialog.compare.CompareCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.moredialog.chart.ChartPriceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.detailproduct.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.auth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>