<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.mamhesam.snamall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snamall"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".feature.home.detailproduct.comment.insertcomment.InsertCommentActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.detailproduct.comment.ShowCommentActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.auoth.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.auoth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.auth" />
        <activity
            android:name=".feature.profile.auoth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.auth" />
        <activity
            android:name=".feature.home.detailproduct.property.DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.detailproduct.property.TechnicalPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.detailproduct.moredialog.CompareProductActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.detailproduct.moredialog.ChartPriceActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.detailproduct.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>